 {{> _header}}
 <div class="main">
   <h2>Dashboard</h2>
   <form  id="file-upload" action="/api/upload-file" method="post" enctype="multipart/form-data">
		<label for="file">File</label>
		<input id="file" name="file" type="file" />
		<button type="submit">Upload</button>
	</form>
 </div>
 <script>
  $(document).ready(function() {
    $('#file-upload').on("submit", function(evt) { 
      console.log("Submit");
      evt.preventDefault();
      let formData = new FormData( $("#file-upload")[0] );
      let res = fetch("/api/upload-file", { method: "POST", body: formData } );
      console.log(res);
    });
  });
 </script>

 {{> _footer}}
