 {{> _header}}
 <div class="main">
   <h2>Dashboard</h2>
   <form  id="file-upload" action="/api/upload-file" method="post" enctype="multipart/form-data">
		<label for="file">File</label>
		<input id="file" name="file" type="file" />
		<button type="submit">Upload</button>
	</form>
  <div class="uploaded-documents">
   <h2>Uploaded Documents</h2>
   <div class="file-list">

   </div>
  </div>
 </div>

 <script>
  async function getFiles() {
    let res = await fetch("/api/files");
    let jsondata = await res.json();
    return jsondata.files;
  }
  function displayFiles(files) {
    let div = $(".file-list");
    $(div).empty();
    files.forEach( function(file) {
      $(div).append(`<div id="doc-${file.ID}" class="document">
      <div class="image"><a href="/document/${file.ID}"><img src="${file.file_url}"></a>
      <div class="close"><img src="/images/close.jpeg"></div>
      </div>
     <div class="filename">${file.original_filename}</div>
     </div>`);
    });
  }
  $(document).ready(async function() {
    let files = await getFiles();
    console.log(files);
    displayFiles(files);

    // It has to be done this way on the on click handler due to the event handler not firing
    // on newly added dom elements.  Therefore the event handler has to be on the parent element
    // and to rely on event delegation to bubble up the event.
    $(".file-list").on("click", "div.close img", async function(evt) {
      let doc = $(this).closest("div.document");
      let docid = $(doc).attr("id");
      let mchresult = docid.match(/doc-(\d+)/);
      let id = mchresult[1];
      let res = await fetch("/api/file-delete/"+id, { method: "POST"} );
      $(doc).fadeOut(1000, async function() {
        let files = await getFiles();
        if (files) {
          displayFiles(files);
        }
      });
    });

    $('#file-upload').on("submit", async function(evt) { 
      console.log("Submit");
      evt.preventDefault();
      let formData = new FormData( $("#file-upload")[0] );
      let res = await fetch("/api/upload-file", { method: "POST", body: formData } );
      console.log(res);
      let files = await getFiles();
      if (files) {
        displayFiles(files);
      }
      $(this)[0].reset();
    });
  });
 </script>

 {{> _footer}}
