 {{> _header}}
 <div class="main">
  <div class="document">
    <div class="thumbnail">
    </div>
     <div id="page">
      <canvas id="page-canvas"></canvas>
    </div>
  </div>
 </div>

 <script>
  $(document).ready(async function() {
    let res, jsondata;
    res = await fetch("/api/document/{{ params.docid }}/thumbnail");
    jsondata = await res.json();
    $(".thumbnail").append(`<img src="${jsondata.thumb_url}">`);

    res = await fetch("/api/document/{{ params.docid }}/page/{{ params.page }}");
    jsondata = await res.json();

    const img = new Image();        
    img.src = jsondata.page.page_image_url;        
    img.onload = async () => { 

      const div_canvas = document.getElementById("page");
      const canvas = document.getElementById("page-canvas");
      const context = canvas.getContext('2d');

      let canvas_scale = img.width / div_canvas.clientWidth;

      const canvas_height = img.height / canvas_scale;
      const canvas_width = img.width / canvas_scale;

      canvas.height = canvas_height; //img.height;
      canvas.width = canvas_width; //img.width;
      console.log( canvas_width, canvas_height);
      context.drawImage(img, 0, 0, canvas_width, canvas_height );
      res = await fetch("/api/document/{{ params.docid }}/page/{{ params.page }}/analyse");
      jsondata = await res.json();
      console.log(jsondata);
      let { width, height } = jsondata;
      console.log(width, height);

      console.log(width / ( width / canvas_width) , height / (width / canvas_width )) 

      context.strokeStyle = 'red';
      context.lineWidth=2;
      for (let outerBlock of jsondata.blocks) {
        let chars = outerBlock.blocks[0].charactersInBlock;
        for (let charBlock of chars) {
          let x1 =  charBlock.x1;
          let y1 = charBlock.y1;
          let w = charBlock.x2 - charBlock.x1 + 1;
          let h = Math.abs(charBlock.y2 - charBlock.y1) + 1;
          context.strokeRect((x1-3)/canvas_scale, (y1-3)/canvas_scale, (w+3)/canvas_scale, (h+3)/canvas_scale);

        }
      }
      context.strokeStyle = 'blue';
      context.lineWidth=2;
      for (let paragraph of jsondata.paragraphs) {
        console.log(paragraph);
        let bbox = paragraph.bbox;
        let [x1, y1, x2, y2] = bbox;
        let w = x2-x1+1;
        let h = y2 - y1 +1;
        context.strokeRect((x1-3)/canvas_scale, (y1-3)/canvas_scale, (w+3)/canvas_scale, (h+3)/canvas_scale);
      }
    }
  });
 </script>

 {{> _footer}}
