* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
  font-family: sans-serif;

}
input[type="submit"] {
  background-color: lightgrey;
  border-radius: 10px;
  height: 1.5rem;
}

button {
  padding: 10px;
  border-radius: 10px;
  color: black;
  background: white;
  font-weight: bold;
  cursor: pointer;
}


button[type="submit"]  {
  background: blue;
  color: white;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

header {
  background: url(/images/header-part1.jpeg);
  color: white;
  padding: 40px;
  text-align: center;
  position: relative;

  div.right {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    > * {
      margin-top:10px;
    }
  }
  form.login {
    display: flex;
    justify-content: flex-end;
    input[type="text"], input[type="password"] {
      background-color: white;
      line-height: 1.5rem;
      padding: 0px 10px;
    }
    input[type="submit"] {
      width: 100px;
    }
    input {
      margin-left: 10px;
    }
    input[type="text"], input[type="password"] {
      width: 150px;
    }
  }
}
div.main {
  background: lightgrey;
  padding: 20px;
  h2{
    text-align: center;
  }
  > div.document {
    display: flex;
    gap: 20px;
    max-width: 1200px;
  }

}
div.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  img.page-image {
    width: 150px;
  }
}

div.page img {
  width: 100%;
}


div.document div#page {
  width: 100%;
}

div.uploaded-documents {
  margin-top: 20px;
  h2 {
    text-align: left;
  }
  div.file-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    div.document {
      width: 200px;
      div.image {
        position: relative;
        img {
          width: 200px;
          height: 200px;
        }
        div.close img {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
